<div class="background">
  <div class="container">
    <app-search-bar></app-search-bar><br>
    <ng-container>

      <div class="hotel-details-card">
        <mat-card>
          <div class="hotel-content">

            <div class="hotel-image">
              <img src="{{ hotelDetails?.hotelImage }}" alt="{{ hotelDetails?.hotelName }} Image" class="hotel-image">
            </div>
            <div class="content-hotel">
              <div class="hotel-details-content">
                <h2 class="hotel-name">{{ hotelDetails?.hotelName }}</h2>
                <div class="hotel-rating">
                  <ng-container *ngFor="let star of getStars(hotelDetails?.rating)">
                    <mat-icon class="star-icon">star</mat-icon>
                  </ng-container>
                </div>
                <p class="hotel-description">{{ hotelDetails?.description }}</p>
                <div class="hotel-tags">
                  <mat-chip *ngFor="let tag of hotelDetails?.tags">
                    <ng-container *ngIf="isObjectType(tag)">
                      {{ tag.name }}
                    </ng-container>
                    <ng-container *ngIf="!isObjectType(tag)">
                      {{ tag }}
                    </ng-container>
                  </mat-chip>
                </div>
              </div>


              <div class="side-content">
                <mat-card id="hotel-price-card" class="hotel-price-card">
                  <div class="hotel-price-details">
                    <div class="hotel-price">
                      <p class="price-info">Starting Price</p>
                      <p class="starting-price">{{ hotelDetails?.lowestPrice | currency }}</p>
                    </div>
                    <div class="room-guest-details">
                      <p>{{ GuestCount }} x Guests</p>
                      <p>{{ RoomCount }} x Room</p>
                    </div>
                  </div>
                  <button  class="go-to-rooms-button" (click)="scrollToRooms()">Go to
                    Rooms</button>
                </mat-card>

                <mat-card id="date-time-card" class="date-time-card">
                  <div *ngIf="weatherData" class="weather">
                    <h3>Weather ({{ weatherData.name }}, {{ weatherData.sys.country }})</h3>
                    <img class="weatherImage" src="assets/icon-clear.png">
                    <p>Temperature: {{ weatherData.main.temp }}°F</p>
                    <p>Humidity: {{ weatherData.main.humidity }}%</p>
                    <!-- <img src="getWeatherIconUrl(weatherData.weather[0].description)" alt="Weather Icon" class="weatherImage" /> -->
                  </div>
                </mat-card>
              </div>
            </div>
          </div>
        </mat-card>
      </div>
    </ng-container>

    <ng-container>
      <mat-label>Rooms</mat-label>

      <div id="rooms-list" class="rooms-list" *ngIf="hotelDetails?.rooms">
        <mat-card id="room-card" class="room-card" *ngFor="let room of hotelDetails?.rooms">
          <div class="room-image">
            <img src="{{ room?.roomImage }}" alt="Hotel Image">
          </div>
          <div class="room-details">
            <h3 class="room-type">{{ room?.type }}</h3>
            <p class="room-description">{{ room?.description }}</p>
            <div class="room-price">{{ room?.baseRate | currency }}</div>
            <br>
            <button class="go-to-rooms-button" (click)="selectRoom(room)">Select Room</button>
          </div>
        </mat-card>
      </div>
    </ng-container>
  </div>
</div>