.spacer {
  flex: 1;
}

.parent {
display: flex;
flex-direction: column;
align-items: center;  
flex: 1;
background-color: #f0f0f0;
margin: 0 auto;

}

.toolbar {
background-color: #1e1f24; 
color: rgb(21, 2, 2); 
padding: 1px;
width: 100%;
height: 2ovh;
}

span {
color: white;
font-size: 20px;
}

.footer {
  background-color: #fbfafa;
  color: black;
  padding: 40px 0;
  display: flex;
  justify-content: space-around;
}

.footer-column {
  flex: 1;
  margin: 0 20px;
}

.footer-column h3 {
  font-size: 20px;
  margin-bottom: 15px;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column li {
  margin-bottom: 8px;
}

.footer-column a {
  color: #000000;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-column a:hover {
  color: #737373;
}

.social-icons {
  display: flex;
  gap: 20px;
}

.social-icons a {
  color: #000000;
  font-size: 24px;
  text-decoration: none;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: #5a5a5a;
}

.background {
  position: relative;
  width: 100vw;
  overflow: hidden;
  background-color: white;
  color: black;
}

.background::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/assets/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

a{
  text-decoration: none;
  padding: 1%;
  color: rgb(255, 253, 253);
  display: flex;
}
