.loginForm {
    width: fit-content;
    align-items: center;
}

.full-width {
    width: max-content;
}

#signin {
    color: black;
    max-width: 300px;
    width: 500px;
    border-width: 1px;
    box-shadow: none;

}

mat-label {
    justify-content: center;
    justify-self: center;
    align-self: center;
}

.loginButton {
    color: white;
    background-color: green;
    padding: 15px;
    border-radius: 10px;
    border: 0px;
}

.NewUser {
    color: white;
    background-color: green;
    padding: 15px;
    border-radius: 10px;
    border: 0px;
    justify-content: right;
}

mat-card-content{
    width: fit-content;
    padding: 0px 0px 0px 35px;
}

div {
    display: flex;
    column-gap: 20px;
    width: fit-content;
}