mat-card-content {
  color: black;
  width: 100%;
}

.content-container {
  display: flex;
  min-height: 100vh;
  width: 100vh;
  height: 100vh;
  position: relative;
}

.hotel-details {
  display: flex;
  flex-direction: row;
}

#header {
  width: 100%;
  border-radius: 10px;
  padding: 2%;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 2px 6px rgba(95, 93, 93, 0.711);
  font-size: 24px;
  color: white;
  background-color: #272727;
}

.sidenav-container {
  flex: 1;
  display: flex;
}

.sidenav {
  display: flex;
  flex-direction: column;
  padding: 16px;
  left: 0;
}

.sidenav-content {
  flex: 1;
  background-color: white;
}

.hotel-imgContainer {
  display: flex;
  justify-content: center;
}

.hotel-image img {
  border-radius: 10px;
  max-width: 360px;
  max-height: 190px;
}

.hotel-details-content {
  padding-left: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  align-items: center;
  font-size: larger;
}

.hotel-name {
  font-size: x-large;
  justify-content: center;
  color: white;
}

.main-content {
  flex: 1;
  padding: 16px;
  right: 0;
  width: 30%;
}

.main-content-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.price-card {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

mat-card-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #303030;
  justify-content: center;
  align-items: center;
}

mat-card-header {
  justify-content: center;
}

.price-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.price-label {
  font-weight: bold;
  color: #555;
}

.price-value {
  color: #333;
}

.divider {
  margin: 12px 0;
}

.total-label {
  font-size: 18px;
}

.total-value {
  font-size: 18px;
  font-weight: bold;
  color: #ff5722;
}

.booking-details {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
}

.booking-card {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

mat-card-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

.booking-item {
  display: flex;
  align-items: center;
}

.booking-label {
  flex: 1;
  font-weight: bold;
  color: #555;
}

.booking-icon {
  margin-right: 10px;
  color: #777;
  font-size: 20px;
}

.booking-value {
  flex: 2;
  color: #333;
}

.booking-value.highlight {
  font-weight: bold;
  color: #ff5722;
}

.amount {
  text-decoration: line-through;
  font-size: 15px;
}

.book-card {
  align-items: center;
  justify-content: center;
}

.book-card-details {
  align-items: center;
  justify-content: center;
}

.book-now-button {
  background-color: green;
  color: white;
  border-radius: 10px;
  padding: 15px;
  width: 100px;
  justify-content: center;
}

.hotel-info {
  border: white;
  box-shadow: white 0px;
}

@media screen and (min-width: 768px) {
  .content-container {
    flex-direction: row;
  }

  .hotel-info,
  .price-card,
  .book-card,
  .booking-card {
    width: 100%; 
    margin-bottom: 16px;
  }

  .booking-card {
    padding: 16px;
  }

  .hotel-image img {
    max-width: 100%;
    max-height: 100%;
    width: 500px;
    height: 290px;
  }

  .hotel-info {
    width: 800px;
  }

  .main-content-inner {
    width: 800px;
  }
}

@media screen and (max-width: 767px) {
  .main-content {
    width: 100%;
    padding: 0; 
  }

  .hotel-info,
  .price-card,
  .book-card,
  .booking-card {
    width: 100%; 
    margin-bottom: 16px;
  }

  .booking-card {
    padding: 16px;
  }

  .hotel-image img {
    max-width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .content-container {
    flex-direction: row;
  }

  .main-content {
    flex: 2; 
    padding: 16px;
    width: auto; 
  }

  .price-card,
  .book-card,
  .booking-card {
    width: 100%; 
    margin-bottom: 16px; 
  }

  .booking-card {
    padding: 16px;
  }

  .hotel-image img {
    max-width: 100%; 
  }
}
