.content-container {
  display: flex;
  min-height: 100vh;
}

.sidenav-container {
  flex: 1;
  display: flex;
}

.sidenav {
  width: 60%; /* Adjust as needed */
  min-width: 300px; /* Set a minimum width */
  display: flex;
  flex-direction: column;
  padding: 16px;
  left: 0;
}

.sidenav-content {
  flex: 1;
}

.hotel-image {
  display: flex;
  justify-content: flex-end;
}

.hotel-image img {
  max-width: 100%;
  max-height: 100%;
}

.hotel-details-content {
  padding-left: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-content {
  flex: 2; /* Adjust the flex value */
  padding: 16px;
  right: 0;
}

.main-content-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.price-card,
.guest-card {
  width: 100%; /* Expand to full width */
  margin-bottom: 16px; /* Add space between cards */
}

.booking-details {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.booking-card {
  width: 400px;
}

.booking-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.booking-label {
  font-weight: bold;
}

.booking-value {
  text-align: right;
}


/* Add media queries for responsiveness */

@media (max-width: 768px) {
  .content-container {
    flex-direction: column;
  }

  .sidenav-container {
    flex: initial;
  }

  .sidenav {
    width: 100%;
    padding: 16px;
  }

  .hotel-image {
    justify-content: center;
  }

  .hotel-details-content {
    padding: 16px 0;
    align-items: center;
  }

  .main-content {
    flex: 2; /* Adjust the flex value */
    padding: 16px;
  }
}