<br>
<mat-card>
      <div class="sidenav-content">
        <mat-card id="hotel-info" class="hotel-info">
          <mat-card-header class="header" id="header">
            <mat-card-title><h2 class="hotel-name">{{ hotelDetails.HotelName }}</h2></mat-card-title>
          </mat-card-header>
          <br>
          <mat-card-content>
            <div class="hotel-details">
              <div class="hotel-imgContainer">
                <div class="hotel-image">
                  <img src="{{ hotelDetails.HotelImage }}" alt="Hotel Image">
                </div>
                <pre>   </pre>
                <div class="hotel-image">
                  <img src="{{ roomDetails.RoomImage }}" alt="Hotel Image">
                </div>
              </div>
              
            </div>
            <div class="booking-details">
              <mat-card class="booking-card" id="booking-card">
                <mat-card-title>Booking Details</mat-card-title>
                <div style="width: 100%;">
                  <div class="booking-item">
                    <div class="booking-label">
                      <i class="fas fa-calendar-alt booking-icon"></i>
                      Check-in:
                    </div>
                    <div class="booking-value">{{ checkInDate }}</div>
                  </div>
                  <div class="booking-item">
                    <div class="booking-label">
                      <i class="fas fa-calendar-check booking-icon"></i>
                      Check-out:
                    </div>
                    <div class="booking-value">{{ checkOutDate }}</div>
                  </div>
                  <div class="booking-item">
                    <div class="booking-label">
                      <i class="fas fa-bed booking-icon"></i>
                      Rooms:
                    </div>
                    <div class="booking-value">{{ RoomDetails }}</div>
                  </div>
                  <div class="booking-item">
                    <div class="booking-label">
                      <i class="fas fa-users booking-icon"></i>
                      Guests:
                    </div>
                    <div class="booking-value">{{ GuestCount }}</div>
                  </div>
                </div>
                <button class="book-now-button" (click)="openEditPopup()">Edit</button>
              </mat-card>
            </div>
          </mat-card-content>
        </mat-card>
      </div>

      <div class="main-content-inner">
        <ng-container>
          <mat-card class="price-card" id="price-card">
            <mat-card-title>Price Summary</mat-card-title>
            <mat-card-content>
              <div class="price-item">
                <div class="price-label">Room Charges</div>
                <div class="price-value">${{roomDetails.BaseRate}}</div>
              </div>
              <div class="price-item">
                <div class="price-label">Total Discount</div>
                <div class="price-value">-${{discount}}</div>
              </div>
              <mat-divider class="divider"></mat-divider>
              <div class="price-item">
                <div class="price-label">Price After Discount</div>
                <div class="price-value">${{priceAfterDiscount}}</div>
              </div>
              <div class="price-item">
                <div class="price-label">Taxes</div>
                <div class="price-value">${{tax}}</div>
              </div>
              <mat-divider class="divider"></mat-divider>
              <div class="price-item">
                <div class="price-label total-label">Total Price</div>
                <div class="price-value total-value"><pre> <span class="amount">${{roomDetails.BaseRate}}</span>  ${{totalPrice}}</pre></div>
              </div>
            </mat-card-content>
          </mat-card>
          <br>
          <mat-card class="book-card" id="book-card">
            <mat-card-title>Coupon Code</mat-card-title>
            <div class="book-card-details">
            <mat-card-content class="book-card-details" id="book-card-details">
              <mat-form-field>
                <input matInput placeholder="Enter coupon code">
              </mat-form-field>
              <br>
            </mat-card-content>
          </div>
          <button class="book-now-button" (click)="success()" >Book Now</button>
          </mat-card>
        </ng-container>
      </div>
</mat-card>