*, *::before, *::after {
  box-sizing: border-box;
}

.content-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.sidenav-container {
  flex: 1;
  display: flex;
  background-color: #f5f5f5;
  padding: 20px;
  position: relative;
  overflow: hidden;
}

.main-content {
  flex: 1;
  padding: 20px;
  z-index: 0;
  overflow: auto;
}

.sidenav {
  flex: 1;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.mat-card {
  margin-bottom: 20px;
  background-color: #fff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.hotel-image img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.hotel-name {
  font-size: 18px;
  margin: 10px 0;
}

.star-icon {
  color: gold;
  font-size: small;
}

.Address {
  color: black;
  font-size: 12px;
}

.booking-details {
  padding: 10px;
}

.booking-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.divider {
  margin: 10px 0;
  width: 100%;
}

.total-label {
  font-size: 18px;
}

.book-now-button {
  margin-top: 15px;
}

/* Maintain old styling for input-group */
.input-group {
  display: flex;
}

.input-field-title,
.input-field-name {
  width: 200px;
  padding: 10px;
}

.input-field-email,
.input-field-phone {
  flex: 1;
  padding: 10px;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  .sidenav {
    max-width: 100%;
  }
  
  .input-group {
    flex-direction: column;
  }
  
  .input-field-title,
  .input-field-name,
  .input-field-email,
  .input-field-phone {
    width: 100%;
    margin-bottom: 10px;
  }
}
