:host {
  ::ng-deep .mat-mdc-form-field {
    background-color: white;
    border-radius: 10px;

  }

  ::ng-deep .mat-mdc-form-field-has-icon-suffix .mat-mdc-text-field-wrapper {
    background-color: rgb(253, 253, 253);
    border-radius: 10px;

  }

  ::ng-deep .mat-mdc-form-field .mat-mdc-floating-label.mdc-floating-label {
    color: rgb(0, 0, 0);
  }


}


mat-datepicker-toggle {
  color: rgb(8, 0, 0) !important;
  font-weight: bold;
  margin-bottom: 5px;
}

.mat-date-range-input-inner {
  color: rgb(8, 0, 0) !important;
}


mat-card {
  display: flex;
  align-items: center;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0);
  flex-direction: column;
  width: inherit;
  padding: 10px;
  height: 50%;
}

.divider {
  width: 1px;
  height: 40px;
  display: inline-block;
  vertical-align: middle;
  color: #171515;
}


.main-div-For-searchBar {
  background-color: white;
  padding: 20px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  flex-direction: column;
  box-shadow: 0px 1px 20px 5px rgb(85, 84, 84);
}



.btn-searchBar {
  background-color: rgb(255, 255, 255);
  color: rgb(177, 170, 170);
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
  display: flex;
  width: 35vh;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.search-component-label {
  font-weight: bold;
  margin-bottom: 5px;
}

.searchButton {
  background-color: #46bb4d;
  ;
  color: black;
  border: none;
  padding: 20px 35px;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}



.searchButton[disabled] {
  cursor: not-allowed;
}

.searchButton.enabled {
  background-color: #4be264;
  color: white;
}

.searchButton.disabled {
  background-color: #f2f2f2;
  color: #0a5317;
  cursor: not-allowed;
}

.searchButton:hover {
  background-color: #93e976;
}



.floating-popup {
  padding: 10px 10px;
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
  border: 10px;
}

.popup-content {
  background-color: whitesmoke;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
  width: 300px;
  z-index: 1000;
  position: absolute;
  top: 0;
  left: 0;
}

.popup-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  color: black;
}

.popup-item-buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.apply-button {
  display: block;
  margin: 10px auto;
  padding: 8px 16px;
  border: none;
  background-color: #007bff;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
}



mat-form-field {
  height: 12vh;
  width: 35vh;
}

mat-date-range-input {
  background-color: white;
}

.center {
  display: flex;
  justify-content: center;
}


@media (min-width:970px) {
  .main-div-For-searchBar {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }

  mat-card {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    justify-content: center;
  }

  .divider {
    width: 12px;
    height: auto;
  }


  .btn-searchBar:hover {
    background-color: #f0f0f0;
  }

  .searchButton:hover {
    background-color: #66ec73;
  }

  .btn-searchBar {
    margin-bottom: 10px;
  }

  .floating-popup {
    width: 100%;
    left: 0;
    transform: none;
  }

}