<mat-sidenav-container class="sidenav-container">
    <mat-sidenav mode="side" class="sidenav" opened>
        <mat-nav-list>
            <mat-card>
              <mat-card-title>
                Filters
              </mat-card-title>
              <mat-form-field>
                <mat-label>Price</mat-label>
                <mat-select>
                  <mat-option value="low">Low</mat-option>
                  <mat-option value="medium">Medium</mat-option>
                  <mat-option value="high">High</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Property Type</mat-label>
                <mat-select>
                  <mat-option value="apartment">Apartment</mat-option>
                  <mat-option value="house">House</mat-option>
                  <mat-option value="villa">Villa</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Food</mat-label>
                <mat-select>
                  <mat-option value="included">Included</mat-option>
                  <mat-option value="not-included">Not Included</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Rating</mat-label>
                <mat-select>
                  <mat-option value="1">1 star</mat-option>
                  <mat-option value="2">2 stars</mat-option>
                  <mat-option value="3">3 stars</mat-option>
                  <mat-option value="4">4 stars</mat-option>
                  <mat-option value="5">5 stars</mat-option>
                </mat-select>
              </mat-form-field>
            </mat-card>
          </mat-nav-list>
            
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="hotel-list">
            <mat-card class="hotel-card" *ngFor="let hotel of HotelData">
              <div class="hotel-image">
                <img src="" alt="Hotel Image">
              </div>
              <div class="hotel-content">
                <div class="hotel-details">
                  <h3 class="hotel-name">{{hotel.HotelName}}</h3>
                  <div class="hotel-ratings">
                    <ng-container>
                      <mat-icon *ngFor="let star of getStars(hotel.Rating)" class="star-icon">star</mat-icon>
                    </ng-container>
                  </div>
                </div>
                <div class="hotel-price">
                  hotel price
                </div>
              </div>
            </mat-card>
          </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <div id="Json"></div>