.sidenav {
  width:13%; 
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: #ffffff; 
  color: #fff;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  overflow-y: auto;
  border-radius: 10px;
}


mat-form-field {
  width: 100%;
  margin-bottom: 15px;
  border-radius: 10px;
}

mat-select {
  color: #fff;
  width: 100%;
}

mat-card {
  background-color: whitesmoke;
}

.hotel-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 20px;
  background-color: #fff;
  width: 100%;
}

.hotel-card {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  width: 100%;
  background-color: #fff;
}

.hotel-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 4px 8px rgba(95, 95, 95, 0.2);
}

.hotel-image img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.hotel-content {
  padding: 10px 15px;
}

.hotel-details {
  margin-bottom: 10px;
}

.hotel-name {
  font-size: 18px;
  margin: 0;
}

.hotel-ratings {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.star-icon {
  color: #FFD700;
  font-size: 16px;
}

.hotel-price {
  font-size: 16px;
  color: #007BFF;
  margin-top: 10px;
}
