<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" class="sidenav" opened>
    <mat-nav-list>
      <mat-card>
        <mat-card-title>
          Filters
        </mat-card-title>
        <mat-form-field>
          <mat-label>Price</mat-label>
          <mat-select [(value)]="PriceRange">
            <mat-option value="Range1">$0-$50</mat-option>
            <mat-option value="Range2">$50-$100</mat-option>
            <mat-option value="Range3">$100-$150</mat-option>
            <mat-option value="Range4">$150-$200</mat-option>
            <mat-option value="Range5">$200-$250</mat-option>
            <mat-option value="Range6">$250-$300</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Property Type</mat-label>
          <mat-select>
            <mat-option value="apartment">Apartment</mat-option>
            <mat-option value="house">House</mat-option>
            <mat-option value="villa">Villa</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Food</mat-label>
          <mat-select>
            <mat-option value="included">Included</mat-option>
            <mat-option value="not-included">Not Included</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Rating</mat-label>
          <mat-select>
            <mat-option value="1">1 star</mat-option>
            <mat-option value="2">2 stars</mat-option>
            <mat-option value="3">3 stars</mat-option>
            <mat-option value="4">4 stars</mat-option>
            <mat-option value="5">5 stars</mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-raised-button (click)="applyFilters()">Apply Filters</button>
      </mat-card>
    </mat-nav-list>

  </mat-sidenav>
  <mat-sidenav-content>
    <div class="hotel-list">
      <mat-card class="hotel-card" *ngFor="let hotel of HotelData;let i=index" (click)="sendDataToHotelDetails(hotel)">
        <div class="hotel-image">
          <img src="" alt="Hotel Image">
        </div>
        <div class="hotel-content">
          <div class="hotel-details">
            <h3 class="hotel-name">{{hotel.HotelName}}</h3>
            <div class="hotel-ratings">
              <ng-container>
                <mat-icon *ngFor="let star of getStars(hotel.Rating)" class="star-icon">star</mat-icon>
              </ng-container>
            </div>
          </div>
          <div class="hotel-price">
            Starts From: ${{LowestRoomPrice[i]}}
          </div>
        </div>
      </mat-card>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>