<!-- <app-nav-bar></app-nav-bar>
<router-outlet></router-outlet> -->
<mat-toolbar id="toolbar" class="toolbar">

    <a routerLink="/">
      <img class="logoImg" width="40" alt="Angular Logo" src="assets/logo.png" />
      <span>InnSight</span>
    </a>
    <div class="spacer"></div>
  
  </mat-toolbar>
  
  <div class="background">
    <div class="parent">
      <router-outlet></router-outlet>
    </div>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <br>
    <br>
  </div>
