.btn1 {
    background-color: rgb(56, 208, 18);
    color: red;
    border-radius: 60px;
    border-style: none !important;
    width: 100px;
    z-index: 1000;

}

.btn2 {
    background-color: rgb(238, 112, 34);
    color: red;
    border-radius: 60px;
    border-style: none !important;
    width: 100px;
    z-index: 1000;

}

div{
    display: flex;
    align-items: center;
    height: fit-content;

}
