.loginForm {
    width: fit-content;
}

.full-width {
    width: fit-content;
}

mat-card {
    color: black;
    max-width: 300px;
    background-color: rgb(255, 255, 255);

}

mat-card-content{
    width: fit-content;
}

div {
    display: flex;
    column-gap: 20px;
    width: fit-content;
    flex-direction: row;
}