.RegisterForm {
    max-width: max-content;
}

.full-width {
    max-width: 800px;
    margin: auto;
    width: 100%;
}

mat-card {
    color: black;
    max-width: 350px;
    width: 100%;
    background-color: rgb(255, 255, 255);

}

.button {
    color: white;
    background-color: green;
    padding: 15px;
    border-radius: 10px;
    border: 0px;
}

div {
    display: flex;
    column-gap: 20px;
    width: fit-content;
}

mat-label {
    color: black;
}