.RegisterForm{
    max-width: 500px;
}

.full-width{
    max-width: 800px;
    margin: auto;
    width: 500px;
}

mat-card{
color: black;
max-width: 100%; 
background-color: rgb(255, 255, 255);

}

div{
    display: flex;
    column-gap:20px ;
    width:500px ;
}

mat-label{
    color: black;
}


