<div class="background">
  <div class="container">
    <app-search-bar></app-search-bar><br>
    <ng-container>

      <div class="hotel-details-card">
        <mat-card>
          <div class="hotel-content">

            <div class="hotel-image">
              <img src="{{ hotelDetails.HotelImage }}" alt="Hotel Image">
            </div>
            <div class="content-hotel">
              <div class="hotel-details-content">
                <h2 class="hotel-name">{{ hotelDetails.HotelName }}</h2>
                <div class="hotel-rating">
                  <ng-container *ngFor="let star of getStars(hotelDetails.Rating)">
                    <mat-icon class="star-icon">star</mat-icon>
                  </ng-container>
                </div>
                <p class="hotel-description">{{ hotelDetails.Description }}</p>
                <div class="hotel-tags">
                  <mat-chip *ngFor="let tag of hotelDetails.Tags">{{ tag }}</mat-chip>
                </div>
              </div>


              <div class="side-content">
                <mat-card id="hotel-price-card" class="hotel-price-card">
                  <div class="hotel-price-details">
                    <div class="hotel-price">
                      <p class="price-info">Starting Price</p>
                      <p class="starting-price">{{ hotelDetails.lowestPrice | currency }}</p>
                    </div>
                    <div class="room-guest-details">
                      <p>{{ GuestCount }} x Guests</p>
                      <p>{{ RoomCount }} x Room</p>
                    </div>
                  </div>
                  <button  class="go-to-rooms-button" (click)="scrollToRooms()">Go to
                    Rooms</button>
                </mat-card>

                <mat-card id="date-time-card" class="date-time-card">
                  <div class="check-in-out">
                    <div class="check-in">
                      <p class="time">{{checkInDate}}</p>
                      <p class="label">CheckIn</p>
                    </div>
                    <div class="check-out">
                      <p class="time">{{checkOutDate}}</p>
                      <p class="label">CheckOut</p>
                    </div>
                  </div>
                </mat-card>
              </div>
            </div>
          </div>
        </mat-card>
      </div>
    </ng-container>

    <ng-container>
      <mat-label>Rooms</mat-label>

      <div id="rooms-list" class="rooms-list">
        <mat-card id="room-card" class="room-card" *ngFor="let room of hotelDetails.Rooms">
          <div class="room-image">
            <img src="{{ room.RoomImage }}" alt="Hotel Image">
          </div>
          <div class="room-details">
            <h3 class="room-type">{{ room.Type }}</h3>
            <p class="room-description">{{ room.Description }}</p>
            <div class="room-price">{{ room.BaseRate | currency }}</div>
            <br>
            <button class="go-to-rooms-button" (click)="selectRoom(room)">Select Room</button>
          </div>
        </mat-card>
      </div>
    </ng-container>
  </div>
</div>