<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{hotel.HotelName}}</mat-card-title>
      <mat-card-subtitle>Category: {{hotel.Category}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>Description: {{hotel.Description}}</p>
      <p>Rating: {{hotel.Rating}}</p>
      <p>Address: {{hotel.Address}}</p>
      <p>Tags: {{hotel.Tags}}</p>
      <h3>Rooms:</h3>
      <div class="room" *ngFor="let room of hotel.Rooms">
        <p><strong>Room type: {{room.Description}}</strong></p>
        <p>Description: {{room.Description_fr}}</p>
        <p>Base Rate: ${{room.BaseRate}}</p>
        <p>Bed Options: {{room.BedOptions}}</p>
      </div>
    </mat-card-content>
  </mat-card>
</div>