
<div class="about-page">
  <div>
    <section class="about-section">
      <h1>Welcome to INNSIGHT</h1>
      <p>Discover Your Perfect Getaway</p>
    </section>
    
    <section class="why-choose-us">
      <h2>Why Choose Us?</h2>
      <ul class="feature-list">
        <li>
          <h3>Vast Selection</h3>
          <p>Browse through a diverse range of hotels, resorts, boutique inns, and more. With thousands of options at your fingertips, you can find the perfect stay for any occasion.</p>
        </li>
        <li>
          <h3>Easy Booking</h3>
          <p>Our intuitive interface makes booking a breeze. Just a few clicks and you're on your way to securing your ideal room.</p>
        </li>
        <li>
          <h3>Best Prices</h3>
          <p>We believe in providing value for your money. Our platform offers competitive rates and exclusive deals, ensuring you get the most out of your budget.</p>
        </li>
        <li>
          <h3>24/7 Customer Support</h3>
          <p>Have a question? Need assistance? Our dedicated customer support team is available around the clock to help you out.</p>
        </li>
      </ul>
    </section>
    <section class="stay-connected">
        <h2>Stay Connected</h2>
        <p>Follow us on social media and subscribe to our newsletter for travel inspiration, exclusive offers, and the latest updates.</p>
        <p>Experience travel like never before with <span>InnSight</span>. Your journey starts here.</p>
        <p>Book. Stay. Enjoy.</p>
      </section>
 
  </div>
</div>

  
